<div class="discount-panel">
    <div class="discount-before">
    </div>
    <div class="discount-title">
        Цього тижня<br> на все
    </div>
    <div class="discount-text">
        -20%
    </div>
</div>
<div class="comment">
    <p>Pizza.22 - практичний проект в межах курсу JavaScript в Києво-Могилянській Академії</p>
    <p>Доставка піци не здійснюється</p>
</div>