<div class="navbar navbar-fixed-top top-panel">
    <div class="site-icon">
        <a class="pizza-logo" href="/index.html">
            <div id="pizza-title2" class="title-1">
                Pizza
            </div>
            <div class="title-2">
                KMA
            </div>
        </a>
        <div class="discount-before top-discount">
        </div>
    </div>
    <div class="header-top-row">
            <div class="phone-number">
                (044) 222 5 222
            </div>
            <div class="work-days">
                24 години/ 7 днів на тиждень
            </div>
            <div class="delivery">
                Безкоштовна доставка піци
            </div>
        <div type="button" class="btn btn-warning sign-in-button">
            Ввійти
        </div>

    </div>

    <div class="header-down-row">
        <span class=" pizza-page" style="color:white;">
            <a href="/index.html" style="color:white;" class="hidden-xs">Піца</a> &nbsp;
        </span>

    </div>

</div>