@mainColor: white;

@cartWidth: 300px;
@mainWidth: 100% - @cartWidth;
@zIndexHeader: 1100;
@discountPanelWidth: 110px;
@discountPanelColor: #ea862e;
@discountPanelHeight: 90px;
@headerHeight: 100px;

body {
  padding-right: @cartWidth;

  #main {
    padding-top: @headerHeight;

    .p-title {
      padding-top: 40px;
      text-align: center;

      .page-title {
        display: inline-block;
        margin-right: 10px;
        box-sizing: border-box;
        font-size: 36px;
        font-weight: 500;
        line-height: 1.1;
        color: #333333;
        font-family: Arial;
      }

      .orange-circle {
        display: inline-block;
      }
    }
  }

}


@import "header";
@import "pizza/pizza-card";
@import "pizza/pizza-cart-card";
@import "footer";
@import "cart";
@import "order";

.h1{
  font-size: 18px;
}
.row{
  text-align: center;
  ul {
    display: inline-block;
  }
}


