.pizza-card {

  h3 {
      color: darkorange;
      font-weight:bold;
  }
  .caption{
      p{
          min-height: 80px;
      }
      #p_i{
          width: 10px;
      }
  }
  .info{
      margin-top:-10px;
      text-align:center;
      img {
          margin-right:5px;
      }
      .diam{
          #i_l{
              margin-right:21%;
          }
          #i_r{
              margin-left:21%;
          }
      }
      .weight{
          #w_l{
              margin-right:20%;
          }
          #w_r{
              margin-left:20%;
          }
      }
      .price{
          margin-top:15px;
          position:relative;
          font-size:30px;
          font-weight:bold;
          #p_l{
              margin-right:17%;
          }
          #p_r{
              margin-left:17%;
          }
      }
      .hrn{
          margin-top:-5px;
          font-weight: bolder;
          #h_l{
              margin-right:21%;
          }
          #h_r{
              margin-left:23.5%;
          }
      }
      p{
          margin-top:10px;
          #b_l{
              margin-right:15%;
          }
          #b_r{
              margin-left:15%;
          }
      }
  }
  
  .info-single{
      margin-top:-10px;
      text-align:center;
      img {
          margin-right:5px;
      }
      .price{
          margin-top:15px;
          position: relative;
          font-size:30px;
          font-weight: bolder;
      }
      .hrn{
          margin-top:-5px;
          font-weight: bold;
      }
      p{
          margin-top:10px;
      }
  }
  
  img {
      max-width:240px;
  }
  min-width:250px;
  max-height:570px;
}
